<h1>Add a new photo</h1>

<form class="" action="/create_photo">
  <div class="">
    <label for "image_source">
      Image URL
    </label>
    <input id = "image_source" name = "image_source" type="text">
  </div>
  <div class="">
    <label for="image_caption">Caption</label>
    <input id = "image_caption" name = "image_caption" type="text">
  </div>
  <button>Create Photo</button>
</form>
